[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
streamlit = "*"
pandas = "*"
numpy = "*"
python-dotenv = "*"
streamlit-pydantic = "*"
pydantic = "*"
fastapi = "*"
uvloop = {version = "*", markers = "sys_platform == 'linux' or sys_platform == 'linux2' or sys_platform == 'darwin'"}
uvicorn = "*"
extra-streamlit-components = "*"
sqlalchemy = "*"
bcrypt = "*"
transformers = "*"
torch = "*"
accelerate = "*"
argparse = "*"
sentencepiece = "*"
pymysql = "*"
psycopg2-binary = "*"
cryptography = "*"
pyvis = "*"
sqlparse = "*"
requests = "*"
colorama = "*"

[dev-packages]
pandas-stubs = "*"
sqlalchemy-stubs = "*"
types-requests = "*"
watchdog = "*"

[requires]
python_version = "3.9"
