*.pyc
backend/__pycache__/*
backend/data/*
!backend/data/db
backend/data/db/*
!backend/data/files
backend/data/files/*
!backend/data/.gitkeep
!backend/data/db/.gitkeep
!backend/data/files/.gitkeep
frontend/__pycache__/*
.DS_Store
.idea/*
*.log
backend/models/*
backend/.env
backend/*.env
/data/
docker-volume/*
/.env
/.env.*
/datasource/sqlite/*
!/datasource/sqlite/.gitkeep
