# what processing unit to use for embedding
# USE_GPU = cpu | cuda | mps
USE_GPU = "cpu"


#### Configurations for the LLM ####
# AZURE_OPENAI config
LLM_USAGE_TYPE = AZURE_OPENAI
OPENAI_API_VERSION = xxxxxxx
AZURE_OPENAI_ENDPOINT = xxxxxxx
AZURE_OPENAI_API_KEY = xxxxxxx
AZURE_OPENAI_MODEL_NAME = xxxxxxx

# OPENAI_PROXY config
# LLM_USAGE_TYPE = OPENAI
# OPENAI_KEY = xxxxxxx
# OPENAI_MODEL_NAME = xxxxxxx

# Local LLM config
# LLM_USAGE_TYPE = LOCAL
# HUGGING_FACE_MODEL_NAME = microsoft/Phi-3-mini-4k-instruct
# HUGGING_FACE_MODEL_NAME = xxxxxxxxx
# HUGGING_FACE_ACCESS_TOKEN = xxxxxxxxx


#### Configurations for Vector Database ####
# FAISS config
VECTOR_DB_USAGE_TYPE = FAISS

# WEAVIATE_SERVER config
# VECTOR_DB_USAGE_TYPE = WEAVIATE_SERVER
# VECTOR_DB_ENDPOINT = xxxxxxx

# WEAVIATE_EMBEDDED config
# VECTOR_DB_USAGE_TYPE = WEAVIATE_EMBEDDED


#### Configurations for the main Database ####
# DATABASE_USAGE = POSTGRESQL | SQLITE3

# DATABASE_USAGE = SQLITE3
# SQLALCHEMY_DATABASE_URI = sqlite:///./db/database.db

# DATABASE_USAGE = POSTGRESQL
# SQLALCHEMY_DATABASE_URI = postgresql://postgres:password@postgres:5432/postgres
