[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "https://download.pytorch.org/whl"
verify_ssl = true
name = "pytorch"

[[source]]
url = "https://download.pytorch.org/whl"
verify_ssl = true
name = "pytorch-nightly"

[packages]
fastapi = "*"
uvloop = {version = "*", markers = "sys_platform == 'linux' or sys_platform == 'linux2' or sys_platform == 'darwin'"}
uvicorn = "*"
sqlalchemy = "*"
alembic = "*"
pyyaml = "*"
mysql-connector-python = "*"
torch = {version = "2.2.2", index = "pytorch"}
langchain = "*"
sentence-transformers = "*"
weaviate-client = "*"
langchain-openai = "*"
pytz = "*"
python-dotenv = "*"
requests = "*"
faiss-cpu = "*"
psycopg2-binary = "*"
transformers = "*"
pandas = "*"
passlib = "*"
bcrypt = "*"
python-jose = "*"
langchain-community = "*"
accelerate = "*"
sentencepiece = "*"

[dev-packages]

[requires]
python_version = "3.9"
