[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "https://download.pytorch.org/whl"
verify_ssl = true
name = "torch"

[[source]]
url = "https://download.pytorch.org/whl/cpu/"
verify_ssl = true
name = "torch_cpu"

[[source]]
url = "https://download.pytorch.org/whl/cu121"
verify_ssl = true
name = "torch_cu12.1"

[packages]
fastapi = "*"
uvloop = {version = "*", markers = "sys_platform == 'linux' or sys_platform == 'linux2' or sys_platform == 'darwin'"}
uvicorn = "*"
sqlalchemy = "*"
alembic = "*"
pyyaml = "*"
mysql-connector-python = "*"
langchain = "*"
weaviate-client = "3.*"
langchain-openai = "*"
pytz = "*"
python-dotenv = "*"
requests = "*"
faiss-cpu = "*"
psycopg2-binary = "*"
transformers = "*"
pandas = "*"
passlib = "*"
bcrypt = "*"
python-jose = "*"
langchain-community = "*"
sentencepiece = "*"
oracledb = "*"

[dev-packages]
isort = "*"
ruff = "*"
mypy = "*"
types-requests = "*"
types-pytz = "*"
types-passlib = "*"
pandas-stubs = "*"

[torch_cu121]
accelerate = "*"
sentence-transformers = "*"
torch = {version = "*", index = "torch_cu12.1"}

[torch]
accelerate = "*"
sentence-transformers = "*"
torch = {version = "*", index = "torch"}

[requires]
python_version = "3.9"
